.season-box {
    // aspect-ratio: 1/1;
    height: 15em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    width: 90%;
    border-radius: 17px;
    transition: 0.2s;

    .description {
        height: 2em;
    }
}

.season-box:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px;
    transition: 0.2s;
    cursor: pointer;
}
