<div class="container">
    <h1>Login</h1>

    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #postForm="ngForm" (ngSubmit)="onLogin(postForm)">
            <div class="mb-3">
                <label for="inputUsernameEmail" class="form-label">Username or email</label>
                <input required type="email" class="form-control" id="inputUsernameEmail" ngModel name="name" #name="ngModel" [class.is-invalid]="!name.valid && name.touched" [class.is-valid]="name.valid">
                <div class="invalid-feedback">Username or email is required</div>
            </div>
    
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input required multiple type="password" class="form-control" id="inputPassword" ngModel name="address" #address="ngModel" [class.is-invalid]="!address.valid && address.touched" [class.is-valid]="address.valid" pattern="">
                <div class="invalid-feedback">Address is required</div>
            </div>
    
            <div class="mb-3">
                <label for="inputPhone" class="form-label">Phone</label>
                <input required type="text" class="form-control" id="inputPhone" name="phone" ngModel name="phone" #phone="ngModel" [class.is-invalid]="!phone.valid && phone.touched" [class.is-valid]="phone.valid">
                <div class="invalid-feedback">Phone is required</div>
            </div>
    
            <button class="btn btn-primary" [disabled]="!postForm.valid">Login</button>
            
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
        </form>
    </div>
</div>
