<div class="header-row">
    <div class="col">
        <p>Position</p>
    </div>
    <div class="col">
        <p>Name</p>
    </div>
    <div class="col d-none d-lg-block">
        <p>Real Name</p>
    </div>
    <div class="col d-none d-lg-block">
        <p>Number</p>
    </div>
    <div class="col">
        <p>Team</p>
    </div>
    <div class="col">
        <p>Points</p>
    </div>
    <div class="col">
        <button *ngIf="hasPermission && !season?.isArchived" class="btn btn-success btn-sm" (mouseup)="openModal('createDriver')">Add driver</button>
    </div>
</div>
<div class="table-row mb-3" *ngFor="let driver of driverAll; index as i;">
    <div class="col team-color" [ngStyle]="{'background-color': driver.actualTeam.color}"></div>
    <div class="col">
        <p>{{ i + 1 }}</p>
    </div>
    <div class="col">
        <p>{{ driver.name }}</p>
    </div>
    <div class="col d-none d-lg-block">
        <p>{{ driver.realName }}</p>
    </div>
    <div class="col d-none d-lg-block">
        <p>{{ driver.number }}</p>
    </div>
    <div class="col">
        <p>{{ driver.actualTeam.name }}</p>
    </div>
    <div class="col">
        <p>{{ driver.point }}</p>
    </div>
    <div class="col">
        <button class="btn btn-primary btn-sm me-1" (mouseup)="openStatistics(driver.name)" title="Statistics">
            <i class="bi bi-bar-chart-fill"></i>
        </button>
        <button *ngIf="hasPermission && !season.isArchived" class="btn btn-primary btn-sm me-1" (mouseup)="openModal('updateDriver', driver)" title="Modify">
            <i class="bi bi-pen"></i>
        </button>
        <button *ngIf="hasPermission && !season.isArchived" class="btn btn-danger btn-sm" (mouseup)="openModal('deleteDriver', driver)" title="Delete">
            <i class="bi bi-trash3"></i>
        </button>

        <app-modal type="form" *ngIf="modal === 'deleteDriver' && selectedDriver!.id === driver.id">
            <app-verify-form
                title='Delete "{{ driver.name }}" driver'
                subtext="It will remove all results of the driver!"
                executeButtonText="Delete"
                (executionEmitter)="deleteDriver(driver.id)"
                (closeModalEmitter)="closeModal()"
            ></app-verify-form>
        </app-modal>
    </div>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="driverAll?.length === 0">
    <h2>We didn't find any driver here</h2>
</div>

<app-modal type="form" *ngIf="modal === 'createDriver' || modal === 'updateDriver'">
    <h1>{{ modal === 'createDriver' ? 'Add new' : 'Modify' }} driver</h1>
    <form #postForm="ngForm" (ngSubmit)="selectedDriver == undefined ? this.createDriver(postForm) : this.updateDriver(selectedDriver!.id, postForm)">
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input required type="text" class="form-control" id="inputName" [ngModel]="selectedDriver?.name" name="name" #name="ngModel" [class.is-invalid]="!name.valid && name.touched" [class.is-valid]="name.valid">
            <div class="invalid-feedback">Name is required</div>
        </div>

        <div class="mb-3">
            <label for="inputRealName" class="form-label">Real Name</label>
            <input type="text" class="form-control" id="inputRealName" [ngModel]="selectedDriver?.realName" name="realName" #realName="ngModel">
        </div>

        <div class="mb-3">
            <label for="inputNumber" class="form-label">Number</label>
            <input type="number" required min="1" max="99" class="form-control" id="inputNumber" [ngModel]="selectedDriver === undefined ? 1 : selectedDriver.number" name="number" #number="ngModel" [class.is-invalid]="!number.valid && number.touched">
        </div>

        <div class="mb-3">
            <label for="inputActualTeamId" class="form-label">Actual Team</label>
            <select name="actualTeamId" id="inputActualTeamId" class="form-select" [ngModel]="selectedDriver?.actualTeam?.id === undefined ? null : selectedDriver?.actualTeam?.id" #actualTeamId="ngModel">
                <option [ngValue]="null">None</option>
                <option *ngFor="let option of season?.teams" [value]="option.id">
                    {{ option.name }}
                </option>
            </select>
        </div>

        <div class="row d-flex">
            <div class="col-6">
                <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-sm btn-block" [disabled]="!postForm.valid">
                    {{ modal === 'createDriver' ? 'Add' : 'Modify' }}
                </button>
            </div>
        </div>
    </form>
</app-modal>

<app-modal type="loading" *ngIf="isFetching"></app-modal>

<app-modal type="error" *ngIf="error" [text]="error" (onCloseModalEmitter)="closeModal()"></app-modal>
