@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.gold-tag {
    background-color: #ffb70040;
    border: 2px solid #ffb700;
    padding: 1.5px;
    color: #ff9500;
    border-radius: 5px;
    font-size: small;
}

h2 {
    font-size: x-large;
}

.header-row {
    display: flex;
    padding: 10px;
    align-items: center;
    color: gray;
    font-size: small;
}

.table-row {
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    align-items: center;
    font-size: small;
}

.col {
    flex-grow: 1;
    text-align: left;

    * {
        margin: 0;
    }
}

.team-color {
    height: 3.5vh;
    max-width: 10px;
    border-radius: 2px;
    margin-right: 10px;
}

.dsq-tag {
    background-color: black;
    padding: 4px 5px;
    color: white;
    border-radius: 4px;
}

$pink: #ff5c8a;
$pink-hover: #ff0a54;

.btn-pink {
	background-color: $pink;
    border: 1px solid $pink;
    color: white;
}

.btn-pink:hover, .btn-pink:active {
	background-color: $pink-hover;
    border: 1px solid $pink-hover;
    color: white;
}

.btn-outline-pink {
    border: 1px solid $pink;
    color: $pink;
}

.btn-outline-pink:hover {
    background-color: $pink;
    border: 1px solid $pink;
    color: white;
}
