<div class="header-row">
    <div class="col">
        <p>Position</p>
    </div>
    <div class="col">
        <p>Race</p>
    </div>
    <div class="col">
        <p>Points</p>
    </div>
    <div *ngIf="this.isLoggedIn && !season.isArchived" class="col">
        <button class="btn btn-success btn-sm" (mouseup)="openModal('createTeam')">Add team</button>
    </div>
</div>
<div class="table-row mb-3" *ngFor="let team of teamAll; index as i;">
    <div class="col team-color" [ngStyle]="{'background-color': team.color}"></div>
    <div class="col">
        <p>{{ i + 1 }}</p>
    </div>
    <div class="col">
        <p>{{ team.name }}</p>
    </div>
    <div class="col">
        <p>{{ team.point }}</p>
    </div>
    <div *ngIf="this.isLoggedIn && !season.isArchived" class="col">
        <button class="btn btn-primary btn-sm me-2" (mouseup)="openModal('updateTeam', team)">
            <i class="bi bi-pen"></i>
        </button>
        <button class="btn btn-danger btn-sm" (mouseup)="openModal('deleteTeam', team)">
            <i class="bi bi-trash3"></i>
        </button>

        <app-modal type="form" *ngIf="modal === 'deleteTeam' && selectedTeam!.id === team.id">
            <app-verify-form
                title='Delete "{{ team.name }}" team'
                executeButtonText="Delete"
                (executionEmitter)="deleteTeam(team.id)"
                (closeModalEmitter)="closeModal()"
            ></app-verify-form>
        </app-modal>
    </div>
</div>

<app-modal type="form" *ngIf="modal === 'createTeam' || modal === 'updateTeam'">
    <h1>{{ modal === 'createTeam' ? 'Add new' : 'Modify' }} team</h1>
    <form #postForm="ngForm" (ngSubmit)="selectedTeam == undefined ? this.createTeam(postForm) : this.updateTeam(selectedTeam!.id, postForm)">
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input required type="text" class="form-control" id="inputName" [ngModel]="selectedTeam?.name" name="name" #name="ngModel" [class.is-invalid]="!name.valid && name.touched" [class.is-valid]="name.valid">
            <div class="invalid-feedback">Name is required</div>
        </div>

        <label for="inputColor" class="form-label">Color</label>
        <input type="color" class="form-control form-control-color" id="inputColor" name="color" #color="ngModel" [ngModel]="selectedTeam === undefined ? '#563d7c' : selectedTeam.color" title="Choose your color">

        <div class="row d-flex">
            <div class="col-6">
                <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-sm btn-block" [disabled]="!postForm.valid">
                    {{ modal === 'createTeam' ? 'Add' : 'Modify' }}
                </button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
        {{error}}
    </div>
</app-modal>

<app-modal type="loading" *ngIf="isFetching"></app-modal>
