<app-header></app-header>
<div class="container col-xs-12 col-md-4 col-md-offset-4 mt-5">
    <h1>Login</h1>

    <div>
        <form #postForm="ngForm" (ngSubmit)="onLogin(postForm)">
            <div class="mb-3">
                <label for="inputUsernameEmail" class="form-label">Username or email</label>
                <input required type="email" class="form-control" id="inputUsernameEmail" ngModel name="usernameEmail" #usernameEmail="ngModel" [class.is-invalid]="!usernameEmail.valid && usernameEmail.touched">
                <div class="invalid-feedback">Username or email is required</div>
            </div>
    
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input required multiple type="password" class="form-control" id="inputPassword" ngModel name="password" #password="ngModel" [class.is-invalid]="!password.valid && password.touched">
                <div class="invalid-feedback">Password is required</div>
            </div>
    
            <div class="row">
                <div class="col-5">
                    <button class="btn btn-primary" [disabled]="!postForm.valid">Login</button>
                </div>
                <div class="col-7 text-end">
                    <button (click)="registration()" class="btn btn-link">Don't you have an account?</button>
                </div>
            </div>
        </form>

        <div class="spinner-border" role="status" *ngIf="isFetching; else elseDiv">
            <span class="visually-hidden">Loading...</span>
        </div>

        <ng-template #elseDiv>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
        </ng-template>
    </div>
</div>
