<app-modal type="loading" *ngIf="isFetching"></app-modal>

<div class="row" #elseDiv>
    <div class="col-sm-10 row pt-3 ps-5">
        <div class="col-sm-6">
            <h1>{{ season?.name}}</h1>
            <p>Created on {{ this.createdAt }}</p>
            <button class="btn btn-primary btn-sm" (mouseup)="onFetchData()">Refresh</button>
        </div>
        <div class="col-sm-6">
            <select class="form-select" [formControl]="selectType">
                <option value="drivers">Drivers</option>
                <option value="teams">Teams</option>
                <option value="races">Races</option>
            </select>

            <select class="form-select mt-3" [formControl]="selectValue">
                <option value="all" [selected]="true">All</option>

                <ng-template [ngIf]="selectType.value === 'drivers'">
                    <option *ngFor="let option of season?.drivers" [value]="option.id">{{ option.name }}</option>
                </ng-template>

                <ng-template [ngIf]="selectType.value === 'teams'">
                    <option *ngFor="let option of season?.teams" [value]="option.id">{{ option.name }}</option>
                </ng-template>

                <ng-template [ngIf]="selectType.value === 'races'">
                    <option *ngFor="let option of season?.races" [value]="option.id">{{ option.name }}</option>
                </ng-template>
            </select>
        </div>

        <div [ngSwitch]="selectType.value" class="row">
            <div *ngSwitchCase="'drivers'">
                <div *ngIf="selectValue.value === 'all'; else elseDiv">
                    <div class="header-row">
                        <div class="col">
                            <p>Position</p>
                        </div>
                        <div class="col">
                            <p>Name</p>
                        </div>
                        <div class="col">
                            <p>Real Name</p>
                        </div>
                        <div class="col">
                            <p>Number</p>
                        </div>
                        <div class="col">
                            <p>Team</p>
                        </div>
                        <div class="col">
                            <p>Points</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <button class="btn btn-success btn-sm" (mouseup)="openModal('createDriver')">Add driver</button>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let driver of getDriverAll(); index as i;">
                        <div class="col team-color" [ngStyle]="{'background-color': driver.actualTeam.color}"></div>
                        <div class="col">
                            <p>{{ i + 1 }}</p>
                        </div>
                        <div class="col">
                            <p>{{ driver.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ driver.realName }}</p>
                        </div>
                        <div class="col">
                            <p>{{ driver.number }}</p>
                        </div>
                        <div class="col">
                            <p>{{ driver.actualTeam.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ driver.point }}</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <div class="btn btn-primary btn-sm me-2" (mouseup)="updateDriver(driver.id)">
                                <i class="bi bi-pen"></i>
                            </div>
                            <div class="btn btn-danger btn-sm" (mouseup)="deleteDriver(driver.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseDiv>
                    <div class="header-row">
                        <div class="col">
                            <p>Race</p>
                        </div>
                        <div class="col">
                            <p>Date</p>
                        </div>
                        <div class="col">
                            <p>Team</p>
                        </div>
                        <div class="col">
                            <p>Position</p>
                        </div>
                        <div class="col">
                            <p>Points</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <button class="btn btn-success btn-sm" (mouseup)="createResult()">Add result</button>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let result of getDriverById(selectValue.value)">
                        <div class="col team-color" [ngStyle]="{'background-color': result.team.color}"></div>
                        <div class="col">
                            <p>{{ result.race.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.race.dateTime }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.team.name }}</p>
                        </div>
                        <div class="col">
                            <p>
                                <span [ngClass]="result.position === 'DSQ' ? 'dsq-tag' : ''">
                                    {{ result.position }}
                                </span>
                            </p>
                        </div>
                        <div class="col">
                            <p>{{ result.point }}</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <div class="btn btn-primary btn-sm me-2" (mouseup)="updateResult(result.id)">
                                <i class="bi bi-pen"></i>
                            </div>
                            <div class="btn btn-danger btn-sm" (mouseup)="deleteResult(result.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div *ngSwitchCase="'teams'">
                <div *ngIf="selectValue.value === 'all'; else elseDiv">
                    <div class="header-row">
                        <div class="col">
                            <p>Position</p>
                        </div>
                        <div class="col">
                            <p>Race</p>
                        </div>
                        <div class="col">
                            <p>Points</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <button class="btn btn-success btn-sm" (mouseup)="createTeam()">Add team</button>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let team of getTeamAll(); index as i;">
                        <div class="col team-color" [ngStyle]="{'background-color': team.color}"></div>
                        <div class="col">
                            <p>{{ i + 1 }}</p>
                        </div>
                        <div class="col">
                            <p>{{ team.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ team.point }}</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <div class="btn btn-primary btn-sm me-2" (mouseup)="updateTeam(team.id)">
                                <i class="bi bi-pen"></i>
                            </div>
                            <div class="btn btn-danger btn-sm" (mouseup)="deleteTeam(team.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseDiv>
                    <div class="header-row">
                        <div class="col">
                            <p>Race</p>
                        </div>
                        <div class="col">
                            <p>Date</p>
                        </div>
                        <div class="col">
                            <p>Points</p>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let result of getTeamById(selectValue.value)">
                        <div class="col">
                            <p>{{ result.race.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.race.dateTime }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.point }}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div *ngSwitchCase="'races'">
                <div *ngIf="selectValue.value === 'all'; else elseDiv">
                    <div class="header-row">
                        <div class="col">
                            <p>Race</p>
                        </div>
                        <div class="col">
                            <p>Date</p>
                        </div>
                        <div class="col">
                            <p>Winner</p>
                        </div>
                        <div class="col">
                            <p>Team</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <button class="btn btn-success btn-sm" (mouseup)="createRace()">Add race</button>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let race of getRaceAll();">
                        <div class="col team-color" [ngStyle]="{'background-color': race.winner.team.color}"></div>
                        <div class="col">
                            <p>{{ race.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ race.dateTime }}</p>
                        </div>
                        <div class="col">
                            <p>{{ race.winner.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ race.winner.team.name }}</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <div class="btn btn-primary btn-sm me-2" (mouseup)="updateRace(race.id)">
                                <i class="bi bi-pen"></i>
                            </div>
                            <div class="btn btn-danger btn-sm" (mouseup)="deleteRace(race.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseDiv>
                    <div class="header-row">
                        <div class="col">
                            <p>Name</p>
                        </div>
                        <div class="col">
                            <p>Number</p>
                        </div>
                        <div class="col">
                            <p>Real Name</p>
                        </div>
                        <div class="col">
                            <p>Number</p>
                        </div>
                        <div class="col">
                            <p>Team</p>
                        </div>
                        <div class="col">
                            <p>Position</p>
                        </div>
                        <div class="col">
                            <p>Points</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <button *ngIf="this.isLoggedIn" class="btn btn-success btn-sm"
                                (mouseup)="createResult()">Add result</button>
                        </div>
                    </div>
                    <div class="table-row mb-3" *ngFor="let result of getRaceById(selectValue.value); index as i;">
                        <div class="col team-color" [ngStyle]="{'background-color': result.team.color}"></div>
                        <div class="col">
                            <p>{{ i + 1 }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.driver.name }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.driver.realName }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.driver.number }}</p>
                        </div>
                        <div class="col">
                            <p>{{ result.team.name }}</p>
                        </div>
                        <div class="col">
                            <p>
                                <span [ngClass]="result.position === 'DSQ' ? 'dsq-tag' : ''">
                                    {{ result.position }}
                                </span>
                            </p>
                        </div>
                        <div class="col">
                            <p>{{ result.point }}</p>
                        </div>
                        <div *ngIf="this.isLoggedIn" class="col">
                            <div class="btn btn-primary btn-sm me-2" (mouseup)="updateResult(result.id)">
                                <i class="bi bi-pen"></i>
                            </div>
                            <div class="btn btn-danger btn-sm" (mouseup)="deleteResult(result.id)">
                                <i class="bi bi-trash3"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div *ngIf="this.isLoggedIn && getUserPermission()?.type === 1" class="d-grid gap-2 mt-3">
            <div class="btn btn-outline-primary btn-sm btn-block" (mouseup)="updateSeason()">Edit</div>
            <div class="btn btn-outline-primary btn-sm btn-block" (mouseup)="archiveSeason()">Archive</div>
            <div class="btn btn-outline-danger btn-sm btn-block" (mouseup)="deleteSeason()">Delete</div>
        </div>

        <h2 class="mt-3">Moderators</h2>
        <div *ngFor="let permission of getPermissions()" class="mb-2">
            <div>
                <button *ngIf="this.isLoggedIn && getUserPermission()?.type === 1 && permission.type === 0"
                    class="btn btn-danger btn-sm d-inline-flex me-1" (mouseup)="deletePermission(permission.id)">
                    <i class="bi bi-x-lg"></i>
                </button>
                <button *ngIf="this.isLoggedIn && getUserPermission()?.type === 1 && permission.type === 0"
                    class="btn btn-primary btn-sm d-inline-flex me-1" (mouseup)="updatePermission(permission.id)">
                    <i class="bi bi-chevron-up"></i>
                </button>
                <div *ngIf="permission.type === 1" class="btn btn-warning btn-sm d-inline-flex me-1 disabled">
                    <i class="bi bi-shield-fill"></i>
                </div>
                <div class="d-inline-flex me-1"
                    [ngClass]="this.user?.username === permission.username ? 'fw-bold' : ''">
                    {{ permission.username }}
                </div>
            </div>
        </div>

        <hr>

        <h2>Description</h2>
        <p>{{ season?.description }}</p>
    </div>
</div>

<!-- modals -->
<app-modal type="form" *ngIf="modal === 'createDriver'">
    <h1>Create</h1>
    <form #postForm="ngForm" (ngSubmit)="createDriver(postForm)">
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input required type="text" class="form-control" id="inputName" ngModel name="name" #name="ngModel" [class.is-invalid]="!name.valid && name.touched" [class.is-valid]="name.valid">
            <div class="invalid-feedback">Name is required</div>
        </div>

        <div class="mb-3">
            <label for="inputRealName" class="form-label">Real Name</label>
            <input type="text" class="form-control" id="inputRealName" ngModel name="realName" #realName="ngModel">
        </div>

        <div class="mb-3">
            <label for="inputNumber" class="form-label">Number</label>
            <input type="number" required min="1" max="99" class="form-control" id="inputNumber" ngModel name="number" #number="ngModel" [class.is-invalid]="!number.valid && number.touched">
        </div>

        <div class="mb-3">
            <label for="inputActualTeamId" class="form-label">Actual Team</label>
            <select name="actualTeamId" id="inputActualTeamId" class="form-select">
                <option [ngValue]="null">None</option>
                <option *ngFor="let option of season?.teams" [value]="option.id">
                    {{ option.name }}                                                
                </option>
            </select>
        </div>

        <div class="row d-flex">
            <div class="col-6">
                <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()" (keypress.esc)="closeModal()">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-sm btn-block" [disabled]="!postForm.valid">Create</button>
            </div>
        </div>
    </form>
    <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
        {{error}}
    </div>
</app-modal>