.header-row {
    display: flex;
    padding: 10px;
    align-items: center;
    color: gray;
    font-size: small;
}

.table-row {
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    align-items: center;
}

.col {
    flex-grow: 1;
    text-align: left;
    * {
        margin: 0;
    }
}

.team-color {
    height: 3.5vh;
    max-width: 10px;
    border-radius: 2px;
    margin-right: 10px;
}