<div class="row">
    <div class="col-sm-10 row pt-3 ps-5">
        <div class="col-sm-6">
            <h1>{{ season?.name}}</h1>
            <p>Created on {{ getFormattedDate(season!.createdAt) }}</p>
        </div>
        <div class="col-sm-6">
            <select class="form-select" [formControl]="selectType" (change)="onSelectType()">
                <option value="drivers" [selected]="true">Drivers</option>
                <option value="teams">Teams</option>
                <option value="races">Races</option>
            </select>

            <select class="form-select mt-3" [formControl]="selectValue" (change)="onSelectValue()">
                <option value="" [selected]="true">All</option>
                <option *ngFor="let option of selectValue.value" [value]="option.id">{{ option.name }}</option>
            </select>  
        </div>

        <!-- table -->
    </div>
    <div class="col-sm-2">
        <!-- admin, moderators, description -->
    </div>
</div>
